@model EntropiaWebAuc.Areas.Default.ViewModels.GraphViewModel
          
    <div class="row">
        <div class="form-group col-md-4">
            <label for="Item" class="control-label col-md-2">Item</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Items,
                        new SelectList(Model.Items, "Id", "Name"),
                                          new
                                          {
                                              @class = "form-control",
                                              @id = "Item"
                                          })
            </div>
        </div>
        <div class="form-group col-md-3">

            <label for="purchasePrice" class="control-label col-md-7">Purchase Price</label>
            <div class="col-md-5">
                <input class="form-control" placeholder="" type="text" id="purchasePrice">
            </div>
        </div>
        <div class="form-group col-md-3">
            <label for="markup" class="control-label col-md-7">Markup</label>
            <div class="col-md-5">
                <input class="form-control" id="markup" placeholder="" type="text">
            </div>
        </div>

    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="pricePeritem" class="control-label col-md-7">Price Per Item</label>
            <div class="col-md-5">
                <input class="form-control" placeholder="" type="text" id="pricePerItem">
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="quantity" class="control-label col-md-7">Begin Quantity</label>
            <div class="col-md-5">
                <input class="form-control" id="quantity" placeholder="" type="text">
            </div>
        </div>

        <div class="form-group col-md-3">
            <label for="step" class="control-label col-md-7">Step</label>
            <div class="col-md-5">
                <input class="form-control" id="step" placeholder="" type="text">
            </div>
        </div>

        <div class="form-group col-md-2">
            <button type="button" class="btn btn-success">Calc!</button>
        </div>
    </div>
   


   
<script type="text/javascript">
    $(function () {
        $("#Item").change(function () {
            var t = $(this).val();
            if (t != "") {
                $.post("@Url.Action("_GetItemJSON", "Graph")?val=" + t, function (res) {
                    if (res.Succes === "true") {
                        console.log(res.Data.Markup);
                        $("#markup").val(res.Data.Markup);
                        $("#quantity").val(res.Data.BeginQuantity);
                    }
                    else {
                        alert("Error getting data!");
                    }

                }

                );
            }

        }
        );

    }
        );


</script>