@{
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}


<hr />

<div class="container well">

    @using (Ajax.BeginForm("_GetItem", new AjaxOptions{UpdateTargetId = "getItem",
                                                      OnSuccess = "{populateChartAndTable(data); init()}"
    }))
    {
        <div id="getItem">
            @Html.Action("_GetItem")
        </div>
    }

</div>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-7">
            <div class="graph-container">
                <div class="graph" id="graph">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <table class="table table-fixed">
                <thead>
                    <tr>
                        <th class="col-xs-2 text-center">Quantity</th>
                        <th class="col-xs-3 text-center">Selling Price</th>
                        <th class="col-xs-3 text-center">Profit</th>
                        <th class="col-xs-2 text-center">Tax</th>
                        <th class="col-xs-2 text-center">Markup</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
    <hr>

</div>

