@{
    Page.Title = "Forgot Password Confirmation";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}
<header id="head" class="secondary"></header>

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
