@model EntropiaWebAuc.Areas.Default.ViewModels.SelectItemsViewModel
@using EntropiaWebAuc.Domain.Entities


    <div class="col-xs-6">

        @using (Html.BeginForm("CustomItemSelect", "SelectItems", FormMethod.Post))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Custom Items</h3>
                </div>
                <div class="panel-body">
                    @Html.ListBox("CustomItems",
               new MultiSelectList(Model.CustomItems, "Id", "Name"),
               new
               {
                   size = 15,
                   @class = "form-control"
               })

                </div>
            </div>
            <input type="submit" value="Add to selected ==>" />
        }
    </div>

    <div class="col-xs-6">

        @using (Html.BeginForm("CustomItemUnSelect", "SelectItems", FormMethod.Post))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">You Selected Custom Items</h3>
                </div>
                <div class="panel-body">

                    @Html.ListBox("SelectedCustomItems",
                        new SelectList(Model.SelectedCustomItems, "Id", "Name"),
               new
               {
                   size = 15,
                   @class = "form-control"
               })

                </div>
            </div>
            <input type="submit" value="<== Remove from selected " />
        }
    </div>
