@model EntropiaWebAuc.Areas.Default.ViewModels.SelectItemsViewModel
@using EntropiaWebAuc.Domain.Entities


<div class="col-xs-5">
  
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Standart Items</h3>
            </div>
            <div class="panel-body">

                @Html.ListBox("StandartItems",
                        new SelectList(Model.StandartItems, "Id", "Name"),
               new
               {
                   size = 15,
                   @class = "form-control"
               })


            </div>
        </div>
        
    }
</div>

<div class="col-xs-2 ">
    <br />
    <br />
    <input type="submit" value=" ==> " name="Command" class="form-control" />
    <br />
    <br />
    <input type="submit" value=" <== " name="Command" class="form-control" />
</div>

<div class="col-xs-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">You Selected Standart Items</h3>
            </div>
            <div class="panel-body">

                @Html.ListBox("SelectedStandartItems",
                        new SelectList(Model.SelectedStandartItems, "Id", "Name"),
               new
               {
                   size = 15,
                   @class = "form-control"
               })

            </div>
        </div>
       
    </div>