@{
    AjaxOptions customRow = new AjaxOptions { UpdateTargetId = "customItemsRow" };

    AjaxOptions standartRow = new AjaxOptions { UpdateTargetId = "standartItemRow" };
}


<hr>



@using (Ajax.BeginForm("CustomItemSelect", "SelectItems", customRow))
{
    <div class="row" id="customItemsRow">
        @Html.Action("_GetCustomItems")

    </div>
}
<hr>

@using (Ajax.BeginForm("StandartItemSelect", "SelectItems", standartRow))
{
    <div class="row" id="standartItemRow">
        @Html.Action("_GetStandartItems")

    </div>
}