@model EntropiaWebAuc.Areas.Default.ViewModels.SelectItemsViewModel
@using EntropiaWebAuc.Domain.Entities

<hr>
<div class="row">
    <div class="col-xs-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Custom Items</h3>
            </div>
            <div class="panel-body">
               @Html.ListBox("CustomItems", 
               new SelectList(Model.CustomItems, "Id", "Name"), 
               new { size = 15,
                   @class = "form-control"})
                
            </div>
        </div>
    </div>

    <div class="col-xs-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">You Selected Custom Items</h3>
            </div>
            <div class="panel-body">

                @Html.ListBox("CustomItems",
                        new SelectList(Model.SelectedCustomItems, "Id", "Name"),
               new
               {
                   size = 15,
                   @class = "form-control"
               })
              
            </div>
        </div>

    </div>
</div>

<hr>

<div class="row">
    <div class="col-xs-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Standart Items</h3>
            </div>
            <div class="panel-body">
                @foreach (StandartItem item in Model.StandartItems)
                {
                    @item.Name<br>

                }
            </div>
        </div>
    </div>

    <div class="col-xs-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">You Selected Standart Items</h3>
            </div>
            <div class="panel-body">
                @foreach (StandartItem item in Model.SelectedStandartItems)
                {
                    @item.Name<br>

                }
            </div>
        </div>

    </div>
</div>