<h4>Custom Items</h4>

<ul class="nav nav-stacked collapse in">


    <li> @Html.ActionLink("List", "Index", "CustomItem")</li>
    <li> @Html.ActionLink("Create New Item", "Create", "CustomItem")</li>
    


</ul>

<hr>

