<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>

        @Styles.Render("~/Content/style2")
        @Scripts.Render("~/bundles/modernizr")
    </head>
<body class="home">
    @RenderBody()
</body>
</html>
