 <!--left column-->
<div>
    <div class="list-group">
        @Html.Partial("_CustomItemMenu")

        <!-- categories -->
        <div class="widget">

            <h4>Messages</h4>

            <ul class="nav nav-list">
                <li> @Html.ActionLink("Incoming", "Incoming", "Messages")</li>
                <li> @Html.ActionLink("Outgoing", "Outgoing", "Messages")</li>
            </ul>

        </div>
    </div>

</div>
<!--/left column-->