@model IEnumerable<EntropiaWebAuc.Entities.StandartItem>
@{
    ViewBag.Title = "StandartItems";
   
}

<h2>List</h2>

@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.Name</h3>
        @p.Category
        <h4>@p.Price.ToString("c")</h4>
    </div>
} 