<h4>Messages</h4>

<ul class="nav nav-stacked collapse in">
    
   
    <li> @Html.ActionLink("Mass messages", "Index", "Message")</li>
    <li> @Html.ActionLink("Incoming messages", "Incoming", "Message")</li>
   
</ul>

<hr>


