<h4>Roles</h4>

<ul class="nav nav-stacked collapse in">
    
   
    <li> @Html.ActionLink("Roles", "Index", "Role")</li>
    <li> @Html.ActionLink("Create New Role", "RoleCreate", "Role")</li>
    <li>@Html.ActionLink("Add Role to User", "RoleAddToUser", "Role")</li>


</ul>

<hr>


