<h4>Standart Item Categories</h4>

<ul class="nav nav-stacked collapse in">
    <li> @Html.ActionLink("List", "Index", "StandartItemCategories")</li>
    <li> @Html.ActionLink("Create New Category", "Create", "StandartItemCategories")</li>    
</ul>
<hr>

