<h4>Standart Items</h4>
<hr>
<ul class="nav nav-stacked collapse in">


    <li> @Html.ActionLink("List", "Index", "StandartItem")</li>
    <li> @Html.ActionLink("Create New Item", "Create", "StandartItem")</li>
    


</ul>

<hr>

