@using EntropiaWebAuc.Areas.Admin.ViewModel
@{
    ViewBag.Title = "RoleIndex";

}
<div class="spacerBody">

    <h2>Role List</h2>

    <table class="table table-striped table-responsive ">
        <tr>
            <th>Role</th>
            <th>Amount point</th>
            <th>Amount standart items</th>
            <th>Amount custom items</th>
            <th>Action</th>
        </tr>
        @foreach (RoleViewModel role in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => role.Name)</td>
                <td>@Html.DisplayFor(modelItem => role.NumberPoint)</td>
                <td>@Html.DisplayFor(modelItem => role.NumberStandartItems)</td>
                <td>@Html.DisplayFor(modelItem => role.NumberCustomItems)</td>
                <td>
                    <span onclick=" return confirm('Are you sure to delete?') ">
                        <a href="/Admin/Role/RoleDelete?RoleName=@role.Name" class="delLink">Delete</a>
                    </span>
                </td>
            </tr>
        }

    </table>
    
</div>
