@using EntropiaWebAuc.Areas.Admin.ViewModel
@{
    ViewBag.Title = "RoleAddToUser";
    
}
<div class="spacerBody">
    <p>&nbsp;</p>
   @foreach (UsersRoles user in Model)
   {
       <table>
           <tr>
               <td>@user.User.UserName</td>
               <td>@user.Role.RoleId</td>
           </tr>
       </table>
       <p></p>
   }

    <h2>Add role to user</h2>
 </div> 