@using EntropiaWebAuc.Areas.Admin.ViewModel
@{
    ViewBag.Title = "RoleAddToUser";

}

<div class="spacerBody">
    <h2>Add role to user</h2>

    <p>&nbsp;</p>
    <table class="table">
        <thead>
            <tr>
                <th><label><input type="checkbox" value=""></label></th>
                <th>User</th>
                <th>Role</th>
            </tr>
        </thead>

        <tbody>
            @foreach (UsersRoles user in Model)
            {

                <tr>
                    <td><label><input type="checkbox" value=""></label></td>
                    <td>@user.User.ToString()</td>

                    <td>
                        @if (@user.UserRoles.Count() >= 1)
                        {
                            @user.UserRoles.First()
                        }
                    </td>
                </tr>
            }

        </tbody>

    </table>




</div>
