@using EntropiaWebAuc.Areas.Default.Models
@{
    ViewBag.Title = "RoleAddToUser";
    
}
<div class="spacerBody">
    <p>&nbsp;</p>
   @foreach (ApplicationUser user in ViewBag.users)
   {
       <table>
           <tr>
               <td>@user.UserName</td><td>@user.Roles</td>
          
           </tr>
       </table>
       <p></p>
   }

    <h2>Add role to user</h2>
 </div> 